 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin-bottom: 16px;
}

nav, .brand{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #d9d9d9;
    
    
}

nav ul li a {
    color: black;
    font-family: 'roboto';
    font-size: 16px;
}

nav .active {
    border-bottom: 0.5px solid black;
}

nav ul {
    display: flex;
    justify-content: center;

    gap: 40px;
    list-style: none;
    margin-left: 100px;
}

#aboutimgid {
    height: 100px;
}

.headingclass {
    font-weight: 500;
    size: 32px;
    margin-top: 133px;
    margin-left: 570px;
}

.paragraph-class {
    font-weight: 400px;
    size: 16px;
    margin-top: 100px;
    margin-left: 570px;
}

.aboutBtn {
    color: #2C2C2C;
    width: 181px;
    height: 40px;
    margin-top: 100px;
    margin-left: 517px;
}

.featured {
    font-size: 24px;
    margin-top: 431px;
    margin-left: 20px;
    border-bottom: 5px solid black;


}

.fire {
    width: 594px;
    height: 470px;
    margin-left: 20px;

}

#aboutimgid {
    width: 500px;
    height: 300px;

    margin-top: 90px;
    margin-left: 20px;
}

#aboutimgid2 {
    width: 1300px;
    height: 300px;
    margin-top: 259px;
    margin-left: 20px;
    align-items: center;
}

.news {
    padding: 10px;
    font: 24px;
    border-bottom: 5px solid black;
}
#one #two #three {
    height: 200px;
    width: 300px;


}

.oneText {
    height: 300px;
    width: 38px;
}


